nav {
    display: flex;
    justify-content: center;
    background-color: #68ea69;
    padding: 10px 0;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}